@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<h3>Stylists</h3>
<hr />

@foreach(Stylist stylist in Model)
{
  <li>@Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId })</li> //property names of the object we pass in {id = item.ItemId} MUST match parameter names used by the target method (Details())
}

@if (@Model.Count == 0)
{
  <p>No stylists have been added yet!</p>
} 
<br>
<br>
<form action="/stylists/Create" method="get">
<button type="submit" class="btn">Add new stylist</button>
</form>