@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h2>Search Results:</h2>

@foreach(Client client in Model)
{
  <h3><li>@Html.ActionLink($"{client.Name}", "Details", "Clients", new {id = client.ClientId})</li></h3>
}