@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h3>Search Results:</h3>
<hr />

@foreach(Client client in Model)
{
  <h4>@Html.ActionLink($"{client.Name}", "Details", "Clients", new {id = client.ClientId})</h4>
}