@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h3>Search Results:</h3>
<hr />

@foreach(Stylist stylist in Model)
{
  <h4>@Html.ActionLink($"{stylist.Name}", "Details", "Stylists", new {id = stylist.StylistId})</h4>
}