@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

<h2>All Clients</h2>

@if (@Model.Count == 0)
{
  <h4>No Clients have been added yet!</h4>
} 

@foreach (Client client in Model)
{
  <h4>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId })</h4><p>Stylist: @client.Stylist.Name</p>
}
<br>
<br>
<form action="/clients/Create" method="get">
<button type="submit" class="btn">Add new Client</button>
</form>